@inherits LayoutComponentBase

<PageTitle>TodoApp</PageTitle>

<nav class="navbar">TodoApp</nav>

<div class="page">
    <div class="sidebar col-2">
        Sidebar
    </div>
    <div class="p-1">@Body</div>
</div>